<div>
    <h4> Welcome to ruby on rails project.</h4>
    <div id ="SignUp_Login">
        <%= link_to "Create User" , signup_path %>
        <strong> OR </strong>
        <%= link_to "Log In" , signup_path , id:"LogIn" %>
    </div>
</div>

